---
import Layout from '../layouts/Layout.astro'
import { ResizableDemo } from '@/components/ResizableContent'
---

<Layout
  title='En este sitio web vas a poder aprender japones "Hiragana, katakana y kanji" de una manera facil y rapida, usando la tecnica de flashcards'
>
  <main>
    <ResizableDemo client:load />
  </main>
</Layout>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
